openapi: 3.0.0
info:
  title: Shortn API
  version: 1.0.0
  description: API for shortening URLs and retrieving all shortened URLs.
servers:
  - url: https://bly.li
tags:
  - name: shortn
    description: Endpoints for shortening URLs and retrieving all shortened URLs.
paths:
  /store:
    post:
      tags:
        - shortn
      summary: Shorten a URL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShortnReq"
      responses:
        "200":
          description: Successfully shortened URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  short:
                    type: string
                    example: "short.ly/abc123"
        "400":
          description: Invalid input
  /all:
    get:
      tags:
        - shortn
      summary: Retrieve all shortened URLs
      responses:
        "200":
          description: A list of shortened URLs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ShortURL"
        "500":
          description: Server error
components:
  schemas:
    ShortnReq:
      type: object
      properties:
        Url:
          type: string
          example: "https://example.com"
    ShortURL:
      type: object
      properties:
        Short:
          type: string
          description: The shortened URL
          example: "short.ly/abc123"
        URL:
          type: string
          description: The original URL
          example: "https://example.com"
        Owner:
          type: string
          nullable: true
          description: The owner of the URL
          example: "user@example.com"
