<div class="flex flex-col h-full text-gray-800 dark:text-gray-200">
  <app-nav-bar></app-nav-bar>
  <div class="flex flex-1 flex-col items-center justify-center">
    <h2
      class=" background-animate text-center mb-5 text-6xl font-montserrat font-black leading-snug text-transparent bg-clip-text bg-gradient-to-r from-indigo-600 via-pink-600 to-purple-600"
    >
      Shrink the Link, Elevate the Click
    </h2>
    <app-url-input></app-url-input>
  </div>

  <div class="m-2 text-gray-700 dark:text-white flex justify-center">
    <div>©Mensch0 - 2024</div>
  </div>
</div>
